@charset "UTF-8";
/*
    =======================
    Reto Power
    Developers: Wendy Reyes, Annia J. Flores, Flor Tello, Geraldine Chauca, Liliana Peña.
    Version: Beta
    =======================
*/
/* BASE - Base styles, variables, mixins, etc. */
.container {
  width: 85%;
}

/* MODULES - Individual site components */
.login__header--desktop button {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  padding: 8px 25px;
  transition: 0.4s all;
}

.login__header--desktop button:hover {
  background-color: #fff;
  color: #56009C;
}

/* LAYOUTS - Page layout styles */
.login__header--desktop {
  background-color: #56009C;
  padding: 15px 0;
}

.login__header--desktop .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__header--desktop img {
  height: 60px;
}

.login p {
  font-size: 1.8em;
  color: #333;
}

.login p:first-child {
  margin-top: 110px;
}

.login p:last-child {
  font-size: 0.9em;
  margin-top: 12px;
}

.login__form--id, .login__form--key {
  position: relative;
  width: 300px;
  margin: auto;
}

.login i {
  font-size: 25px;
  color: #FBEF33;
  position: absolute;
  bottom: 35px;
  left: 5px;
}

.login input {
  border-bottom: 2px solid #0CBCAA !important;
}

.login input:focus {
  border-bottom: 2px solid #0CBCAA !important;
}

.login__form--loginbtn {
  background-color: #0CBCAA;
  font-size: 20px;
  color: #fff;
  border: 0;
  width: 300px;
  padding: 12px 0;
}

.login__form--register {
  margin-top: 10px;
}

@media (max-width: 550px) {
  .login .container {
    display: block;
  }
  .login img {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .login__form--id, .login__form--key {
    position: relative;
    width: 230px;
    margin: auto;
  }
  .login i {
    font-size: 18px;
    color: #FBEF33;
    position: absolute;
    bottom: 35px;
    left: 5px;
  }
  .login input {
    font-size: 13px !important;
    border-bottom: 2px solid #0CBCAA !important;
  }
  .login input:focus {
    border-bottom: 2px solid #0CBCAA !important;
  }
  .login__form--loginbtn {
    background-color: #0CBCAA;
    font-size: 15px;
    color: #fff;
    border: 0;
    width: 230px;
    margin-top: 10px;
    padding: 10px 0;
  }
  .login__form--register {
    margin-top: 10px;
  }
}

.login__header--desktop img {
  height: 60px;
}

.login__header--desktop button {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  padding: 8px 25px;
  transition: 0.4s all;
}

#modal1 {
  height: 60vh;
  text-align: center;
  padding: 50px;
}

#btnListo {
  background-color: #FBEF33;
  color: black;
}

.actualUser {
  margin-top: 50px;
}
