//Internal variables
$x-palette-purple: #56009C;
$x-palette-turquoise: #0CBCAA;
$x-palette-yellow: #FBEF33;
$x-palette-dark-gray: #333;
//Global variables
$palette-primary: $x-palette-purple;
$palette-secondary: $x-palette-turquoise;
$palette-paragraph: $x-palette-dark-gray;
$palette-icons: $x-palette-yellow;